div.categoryWithCarousel {
    width: 100%;
    position: relative;
}

div.categoryWithCarousel div.headbar {
    background-color: #DD2727;
}

div.categoryWithCarousel div.head {
    width: 200px;
    background-color: #C60A0A;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu {
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

div.categoryWithCarousel div.rightMenu span {
    margin: 0px 20px;
}

div.categoryWithCarousel div.rightMenu span img {
    height: 35px;
}

div.carousel-of-product {
    height: 510px;
    width: 1100px;
    margin: 0px  0px 0px 210px;
}

img.carouselImage {
    height: 510px !important;
}


/*div.carouselBackgroundDiv {
    width: 100%;
    height: 510px;
    background-color: #E8E8E8;
    position: absolute;
    top: 36px;
    z-index: -1;
}*/

div.categoryMenu {
    width: 200px;
    background-color: #e2e2e3;
    margin-left: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

div.categoryMenu a {
    color: #000;
}

div.categoryMenu a:hover {
    color: lightskyblue;
    text-decoration: none;
}

div.productsAsideCategorys {
    width: 800px;
    height: 510px;
    background-color: white;
    margin-left: 210px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}


/*商品列表中的每一行*/

div.productsAsideCategorys div.row {
    margin: 20px 80px 0px 80px;
}


/*每一行的分隔符*/

div.productsAsideCategorys div.row div.seperator {
    margin-top: 20px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    border-bottom-color: #e7e7e7;
}

div.productsAsideCategorys a {
    color: #999;
    font-size: 14px;
    margin: 8px;
}

div.productsAsideCategorys a:hover {
    color: #C40000;
    text-decoration: none;
}

div.eachCategory {
    line-height: 30px;
    padding-left: 10px;
    font-size: 14px;
}

div.eachCategory span {
    margin-right: 10px;
}

div.eachCategory:hover {
    background-color: white;
}

/*猫耳朵*/
img.catear {
    position: absolute;
    height: 15px;
    width: 40px;
    display: none;
    z-index: -4;
}