div.categoryWithCarousel {
    width: 100%;
    position: relative;
}

div.categoryWithCarousel div.headbar {
    background-color: #DD2727;
}

div.categoryWithCarousel div.head {
    width: 200px;
    background-color: #C60A0A;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    color: white;
    margin-left: 10px;
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu {
    display: inline-block;
}

div.categoryWithCarousel div.rightMenu a {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

div.categoryWithCarousel div.rightMenu span {
    margin: 0px 20px;
}

div.categoryWithCarousel div.rightMenu span img {
    height: 35px;
}

div.carousel-of-product {
    height: 510px;
    width: 1024px;
    margin: 0px auto;
}

img.carouselImage {
    height: 510px !important;
}

/*div.carouselBackgroundDiv {
    width: 100%;
    height: 510px;
    background-color: #E8E8E8;
    position: absolute;
    top: 36px;
    z-index: -1;
}*/