.redColor{
    color: #C40000;
}
body{
    font-size: 12px;
    font-family: Arial;
}

a{
    color: #999;
}

nav.top{
    background-color: #f2f2f2;
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid #e7e7e7;
}
nav.top a:hover{
    color: #C40000;
    text-decoration: none;
}
nav.top span,nav.top a{
    
    margin: 0 10px;
}
