div.simpleLogo {
    padding: 30px 0px;
    margin-left: 40px;
}
img.loginBackgroundImg {
    margin: 0px auto;
    width: 100%;
}
div#loginDiv{
    margin-bottom: 10px;
}
div.loginSmallDiv {
    background-color: white;
    position: absolute;
    right: 80px;
    top: 180px;
    width: 350px;
    height: 400px;
    padding: 60px 25px 80px 25px;
}

div.login_acount_text {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: bold;
}

div.loginInput {
    border: 1px solid #cbcbcb;
    margin: 20px 0px;
}

div.loginInput span.loginInputIcon {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0px;
    background-color: #cbcbcb;
}

span.loginInputIcon span.glyphicon {
    font-size: 22px;
    position: relative;
    left: 9px;
    top: 9px;
    color: #606060;
}

div.loginInput input {
    border: 0px solid transparent;
    width: 244px;
    height: 30px;
    position: relative;
    left: 6px;
    top: 3px;
}

a{
    color: #999;
}

a:hover{
    text-decoration: none;
    color: #c40000;
}
body{
    font-size: 12px;
    font-family: Arial;
}
button.redButton{
    color: white;
    background-color: #c40000;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
}
button#loginButton:hover{
    background-color: #AF0000;
    color: white;
}
a.forgetPassword{
    float: right;
    margin-top:22px;
    padding: 0px 20px 0px 0px;
}
a.freeRegister{
    float: right;
    margin-top: 22px;
    padding: 0px 10px 0px 0px;
}